@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

p {
  font-family: "Montserrat";
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: lavender;
  display: flex;
  justify-content: center;
}

.Header-content {
  width: 930px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

.Logo {
  height: 60px;
  align-self: flex-end;
}

.Nav-links {
  display: flex;
  align-self: flex-end;
}

.Circle {
  display: flex;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  background-color: #23084f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.Circle:hover {
  background-color: #7f5fb4;
  overflow: hidden;
}

.Icons {
  height: 30px;
  width: 30px;
  fill: #aa6fe6;
}

.Header-intro {
  height: 705px;
  overflow: hidden;
}

.Intro-text {
  padding-top: 80px;
  font-weight: 700;
  font-size: 85px;
  color: #23084f;
}

.Name {
  font-size: 125px;
  font-weight: 900;
  color: #7819db;
}

.Intro-image {
  transform: translate(595px, -485px);
  height: 650px;
  overflow: hidden;
}

.Image {
  height: 650px;
}

.App-body {
  display: flex;
  justify-content: center;
  background-color: black;
}

.Body-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1000px;
}

.Content-title {
  margin-top: 40px;
  color: white;
}

.Title {
  font-size: 45px;
  font-weight: 900;
}

.Cards-box {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.Card {
  background-color: black;
  width: 285px;
  border-radius: 25px;
  border: 5px solid white;
  margin: 20px 10px 20px 10px;
}

.Card-image {
  background-color: rgb(237, 51, 51);
  border-radius: 19px 19px 0px 0px;
  width: 285px;
  height: 180px;
  overflow: hidden;
}

.Card-title {
  color: white;
  margin: 10px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
  font-size: 35px;
  font-weight: 700;
}

.Card-description {
  color: white;
  padding: 0px 15px 0px 15px;
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: 400;
}

.Card-tags {
  display: flex;
  flex-flow: wrap;
  margin: 10px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
  font-size: 14px;
  font-weight: 700;
}

.Card-tag {
  display: flex;
  background-color: #9279ff;
  padding: 5px 12px 5px 12px;
  margin: 5px 10px 5px 0px;
  border-radius: 25px;
}

.App-footer {
  display: flex;
  justify-content: center;
  background-color: black;
}

.Footer-content {
  width: 930px;
  display: flex;
  justify-content: center;
}

@media (max-width: 950px) {
  .Header-content {
    width: 800px;
  }
  .Intro-text {
    font-size: 60px;
  }

  .Name {
    font-size: 80px;
  }

  .Intro-image {
    transform: translate(450px, -340px);
  }
  .Body-content {
    width: 800px;
  }
}

@media (max-width: 825px) {
  .Header-intro {
    height: 1025px;
  }

  .Header-content {
    width: 500px;
  }

  .Intro-text {
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .Intro-image {
    transform: translate(80px, 0px);
  }

  .Body-content {
    width: 500px;
  }
}

@media (max-width: 525px) {
  .Header-intro {
    height: 768px;
  }

  .Logo {
    height: 55px;
  }

  .Circle {
    height: 55px;
    width: 55px;
  }

  .Header-content {
    width: 450px;
  }

  .Intro-text {
    font-size: 40px;
  }

  .Name {
    font-size: 50px;
  }

  .Intro-image {
    transform: translate(100px, 0px);
  }

  .Image {
    height: 500px;
  }

  .Body-content {
    width: 450px;
  }

  .Title {
    font-size: 35px;
  }
}

@media (max-width: 475px) {
  .Header-intro {
    height: 768px;
  }

  .Logo {
    height: 55px;
  }

  .Circle {
    height: 55px;
    width: 55px;
  }

  .Header-content {
    width: 300px;
  }

  .Intro-text {
    font-size: 40px;
  }

  .Name {
    font-size: 50px;
  }

  .Intro-image {
    transform: translate(20px, 0px);
  }

  .Image {
    height: 500px;
  }

  .Body-content {
    width: 300px;
  }

  .Title {
    font-size: 35px;
  }
}
